# name: SonarCloud Analysis
# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

# jobs:
#   sonarcloud:
#     name: SonarCloud
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v4
#       with:
#         fetch-depth: 0  # Shallow clones not advised

#     - name: Install dependencies
#       run: npm ci

#     # - name: Run tests & coverage
#     #   run: |
#     #     npm test -- --coverage
#     #     # or jest --coverage if using Jest

#     - name: SonarCloud Scan
#       uses: SonarSource/sonarcloud-github-action@v4
#       env:
#         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#         SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

# # Second Version (it has the warning but in SnarCloude setup, but it completes the step)
# name: SonarCloud Analysis

# on:
#   push:
#     branches: [ main, develop ]
#   pull_request:
#     branches: [ main ]

# jobs:
#   sonarcloud:
#     name: SonarCloud
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4
#         with:
#           fetch-depth: 0

#       - name: Setup Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: '20'

#       - name: Install dependencies
#         run: npm ci

#       - name: SonarCloud Scan
#         uses: SonarSource/sonarcloud-github-action@v5
#         env:
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           args: >
#             -Dsonar.organization=piyushjhatechsuperior
#             -Dsonar.projectKey=piyushjhatechsuperior_sonar-test
#             -Dsonar.sources=.
#             -Dsonar.exclusions=node_modules/**,dist/**,build/**,.next/**,coverage/**

name: SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
